--create database DeadlineManager
--drop  database DeadlineManager
create table Deadline
(
	ID int IDENTITY, 
	Title nvarchar (100) not null,
	Time datetime not null,
	SubjectID int not null, 
	primary key (ID) 
)

create table Student
(
	ID int IDENTITY,
	Name nvarchar(40) not null,
	Email nvarchar(50) not null,
	Password nvarchar (40) not null,
	primary key (ID)
)

create table Study
(
	StudentID int,
	SubjectID int
)

create table Thread
(
	ID int IDENTITY,
	Title nvarchar (40) not null,
	Content nvarchar (40) not null,
	Time datetime not null,
	SubjectID int,
	StudentID int,
	primary key (ID)
)

---------------------------------------------------------------------

insert into Deadline values(N'Đồ án Công nghệ web','2/25/2009',1)
insert into Deadline values(N'Đồ án XML và ứng dụng','5/26/2009',2)
insert into Deadline values(N'Đồ án Công cụ và MTPTPM','1/14/2009',3)

---------------------------------------------------------------------

insert into Student values(N'Đỗ Minh Tuấn','fcmtuan@gmail.com',123)
insert into Student values(N'Võ Quang Việt','vqviet@gmail.com',123)
insert into Student values(N'Lê Văn Vang','vangvl87@gmail.com',123)

---------------------------------------------------------------------

insert into Study values(1,1)
insert into Study values(1,2)
insert into Study values(1,3)




---------------------------------------------------------------------

insert into Thread values(N'Title1','Content1', '3/6/2009',1,2)
insert into Thread values(N'Title1','Content2', '1/7/2009',2,3)
insert into Thread values(N'Title1','Content3', '8/8/2009',1,3)
